*{
  font-family: 'Poppins', sans-serif;
}
.navbar{
  background-color: rgb(0, 0, 0);

}

a {
  color: rgb(233, 221, 221);
}
/* link que foi visitado */
a:visited {
   color: rgb(255, 255, 255);
}
/* quando o link for selecionado */
a:active {
   color: #333;
}
#about{
  margin: 45px 0;
}

div.col{
  padding: 0;

}
#about Img{
  width: 50%;
  padding: 0;
}
#aboutText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

#aboutText p{
  max-width: 500px;
}

article.container.row{
  margin:0;
}

#classes > div{
  margin-right: 0;
}

form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.send{
  display: flex;
  align-items: center;
  width: 350px;
  height: 380px;
}

.send input{
  width: 260px;
  height:40px ;
  border: 0.2px solid black;
  border-radius: 12px;
  text-align: center;
  margin: 10px;
}

.send button{
  margin-top: 20px;
  width: 100px;
  height: 40px;
}

.sendSection{
  margin-top: 40px;
  height: 450px;
  padding:20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#classes > div > div{
  width: 18.4rem; 
  margin: 24px;
}


@media screen and (max-width: 1080px) {

  #classes > div > div{
     width: 15.0rem;    
     margin: 20px;

    }
  }


@media screen and (max-width: 869px) {
  #classes > div > div{
    width: 13.0rem;   
    margin:16px
  }
}

@media screen and (max-width: 759px) {
  #classes > div > div{
    width: 15.0rem; 
  }  
}

@media screen and (max-width: 690px) {

  form.col {
    padding: 0px;
  }
 
  .send{
    width: 300px;

  }
  
  .send input{
    width: 240px;
    margin-bottom: 10px;
  }
  #pre > div{
    padding: 0;
  }
 
}

@media screen and (max-width: 590px) {
  #about img{
    width: 100%;
  }
  #about{
    height: 736px;
    padding: 0;
  }
  #aboutText{
    display: flex;
    height: 350px;
    margin: 20px 4px;
    text-align: center;
  }

  
  #classes h2{
    margin-top: 40px;
  }
  
  #classes > div > div{
    width: 17.0rem; 
  }  

  .sendSection {
    height: 736px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .send{
    width: 340px;
    height: 380px;
    margin-bottom: 40px;
  }
 
  .send input{
    width: 280px;
    margin-bottom: 10px;
  }

  #pre > div{
    padding: 20px;
  }
}


@media screen and (max-width: 514px) {

  .navbar-brand img{
    width: 100px;
  }
  
  .nav a{
    padding: 8px;
    font-size: 14px;
  }

  #about{
    display: flex;
    flex-direction: column;
  }
 
}

@media screen and (max-width: 360px) {

  .navbar-brand img{
    width: 90px;
  }
  
  .nav a{
    padding: 5px;
    font-size: 13px;
  }
}
